doctype html
head
    title Bill Payment Reminder
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='./css/style.css')

h1 Assign Page
ul.nav
    li.nav-item
        a.nav-link.active(href='management') Go to Management Page
    li.nav-item
        a.nav-link.active(href='user/create') User page
    li.nav-item
        a.nav-link.active(href='log') Log activity
form(action='/' method='POST')
    .form-group
        label(for='user') Name
        select#user.form-control(name='user')
            each user in users
                option(value=user.id)=user.data.Name
    .form-group
        label(for='date') Payment date
        input#date.form-control(type='datetime-local' name='date')
    .form-group
        label(for='amount') Amount
        input#amount.form-control(type='number' name='amount' placeholder='Vietnam Dong')
    .form-group
        label(for='description') Description
        input#description.form-control(type='text' name='description')
    .form-group
        label(for='interval') Interval
        input#interval.form-control(type='number' name='interval')
    .form-group
        label(for='email') Email Reminder
        select#email.form-control(name='email')
            option(value='true') Yes
            option(value='false') No
    .form-group
        label(for='phone') Email Reminder
        select#phone.form-control(name='phone')
            option(value='true') Yes
            option(value='false') No
    .form-group
        label(for='slack') Email Reminder
        select#slack.form-control(name='slack')
            option(value='true') Yes
            option(value='false') No
    .form-group
        button.btn.btn-primary(type='submit') Assign