head
      link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')

h1 Managment Page
a(href='/') Back to Home Page
//- ul
//-     each user in users
//-         li=user.Name
//-         li=user.Email
//-         li=user.SlackID
//-         li=user.Phone





